---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <h4>Solid State Physics</h4>
            <img src="/assets/img/am.jpg" width="200" alt="A&M">
            <p>Assignment 1: Solid State Structure</p>
            <p><a href="/course/SSP/BandTheorySolution.pdf">Assignment 2: Bloch Band Theory</a></p>
            <p><a href="/course/SSP/SemiclassicTransportSolution.pdf">Assignment 3: Semiclassical Transport</a></p>
            <p>Assignment 4: Phonons</p>
            <p><a href="/course/SSP/MagnetismSolution.pdf">Assignment 5: Magnetism</a></p>
            <p><a href="/course/SSP/SuperConductivitySolution.pdf">Assignment 6: Superconductivity</a></p>


            <h4>Computional Physics</h4>
            <img src="/assets/img/potts.jpg" width="300" alt="potts">
            <p><a href="/course/Computional/ComptutionalTheory.pdf">Program 1: Computional Theory</a></p>
            <p><a href="/course/Computional/Function Approximation.pdf">Program 2: Approximation of Functions</a></p>
            <p><a href="/course/Computional/Integration.pdf">Program 3: Integration</a></p>
            <p><a href="/course/Computional/Linearalgebraicproblems.pdf">Program 4: Linear Algebra Problems</a></p>
            <p><a href="/course/Computional/PDE.pdf">Program 5: Numerical Solution of PDE</a></p>
            <p>See the simulation results in gifs:   <a href="/course/Computional/Solitons.gif">Solitons</a>   <a href="/course/Computional/Thermal.gif">Thermal</a>   <a href="/course/Computional/Wave.gif">Wave</a></p>
            <p><a href="/course/Computional/PottsModel.pdf">Program 6: Potts Model by Monte-Carlo Solution</a></p>

            <h4>Modern/General Physics Lab (Selected)</h4>
            <img src="/assets/img/vacuum.jpg" width="400" alt="vacuum">
            <p><a href="/course/General/BraggDiffraction.pdf">Report 1: Bragg Diffraction</a></p>
            <p><a href="/course/General/SuperConductivity.pdf">Report 2: Super Conductivity</a></p>
            <p><a href="/course/General/VacuumCoating.pdf">Report 3: Vacuum Coating</a></p>
            <p><a href="/course/General/HysteresisLine.pdf">Report 4: Hysteresis Line</a></p>
            <p><a href="/course/Modern/MusburgerEffect.pdf">Report 5: Musburger Effect</a></p>
            <img src="/assets/img/color.jpg" width="400" alt="color">
            <p><a href="/course/Modern/X-RayIdentificationSpectrum.pdf">Report 6: X-Ray Identification Spectrum</a></p>
            <p><a href="/course/Modern/NuclearMagneticResonance.pdf">Report 7: Nuclear Magnetic Resonance (NMR)</a></p>
            <p><a href="/course/Modern/Ferrous Magnetic Resonance.pdf">Report 8: Ferrous Magnetic Resonance (FMR)</a></p>
            <p><a href="/course/General/FrankHertzExperiment.pdf">Report 9: Frank-Hertz Experiment</a></p>
            <p><a href="/course/General/ColorPolarization.pdf">Report 10: Color Polarization</a></p>

            <h4>Adcanced Quantum Mechanics</h4>
            <img src="/assets/img/mqm.jpg" width="200" alt="MQM">
            <p><a href="/course/Advanced/Fundamentals of Quantum Mechanics.pdf">Assignment 1: Fundamentals of Quantum Mechanics</a></p>
            <p><a href="/course/Advanced/Quantum Dynamics.pdf">Assignment 2: Quantum Dynamics</a></p>
            <p><a href="/course/Advanced/Angular momentum theory.pdf">Assignment 3: Angular Momentum Theory</a></p>
            <p><a href="/course/Advanced/Symmetry.pdf">Assignment 4: Symmetry</a></p>
            <p><a href="/course/Advanced/Scattering theory.pdf">Assignment 5: Scattering Theory</a></p>
            <p><a href="/course/Advanced/Secondary quantization.pdf">Assignment 6: Secondary Quantization</a></p>
            <p><a href="/course/Advanced/Relativity Quantum Mechanics.pdf">Assignment 7: Relativity Quantum Mechanics</a></p>

          </article>

        </div>
