---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <a href="projects/1.pdf">Download PDF</a>
            <a href="projects/1.pdf">Download PDF</a>
            <a href="projects/1.pdf">Download PDF</a>
            <a href="projects/1.pdf">Download PDF</a>

          </article>

        </div>
