---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>

            <h4>CVS166 (in progress)</h4>
            This project is dedicated to investigating previously unreported properties of a novel material, such as the variation of magnetoresistance and magnetic field angle at different temperatures and material thicknesses. I am responsible for performing basic experimental manipulations, analysis and fitting of data, as well as theoretical discussions and numerical simulations in this project. Below are some preliminary results of the data analysis, the use of numerical simulation software and some key references. Experimental results and more information will be updated after the article is published.
            <p><a href="/research/cvs166/Magnetoresistance data analysis results of CVS166.pdf">Report: Magnetoresistance data analysis results of CVS166</a></p>
            <p><a href="/research/cvs166/Contribution of small closed orbits to magnetoresistance in quasi-two-dimensional conductors.pdf">Reference: Contribution of small closed orbits to magnetoresistance in quasi-two-dimensional conductors</a></p>
            <p><a href="/research/cvs166/Extremely high magnetoresistance and conductivity in the type-II Weyl semimetals WP2 and MoP2.pdf">Reference: Extremely high magnetoresistance and conductivity in the type-II Weyl semimetals WP2 and MoP2</a></p>
            <p><a href="/research/cvs166/Magnetoresistance from Fermi surface topology.pdf">Reference: Magnetoresistance from Fermi surface topology</a></p>
            <p><a href="/research/cvs166/Observation of In-Plane Quantum Griffiths Singularity in Two-Dimensional Crystalline Superconductors.pdf">Reference: Observation of In-Plane Quantum Griffiths Singularity in Two-Dimensional Crystalline Superconductors</a></p>
            <p><a href="/research/cvs166/WannierTools Documentation.pdf">Magnetoresistance Simulated Tool: WnnierTools</a></p>

            <h4>Graphene Devices and Band Properties</h4>
            This project is a regular dissertation research study within the group, which focuses on device fabrication and energy band tuning of graphene and other two-dimensional materials. Below are the slides and reports for the presentation and key references.
            <img src="/assets/img/graphene.jpg" width="300" alt="graphene">
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/bandgap.pdf">Report: Opening a bandgap in graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Opening a bandgap in graphene.pdf">Talk: Opening a bandgap in graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Airgap local gating of graphene/Airgap local gating of graphene.pdf">Talk: Airgap local gating of graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Controlling the Electronic Structure of Bilayer Graphene.pdf">Reference: Controlling the Electronic Structure of Bilayer Graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Direct observation of a widely tunable bandgap in bilayer graphene.pdf">Reference: Direct observation of a widely tunable bandgap in bilayer graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Energy Band-Gap Engineering of Graphene Nanoribbons.pdf">Reference: Energy Band-Gap Engineering of Graphene Nanoribbons</a></p>
            <p><a href="/research/Graphene devices and properties/Airgap local gating of graphene/Fabrication of graphene p-n-p junctions with contactless top gates.pdf">Reference: Fabrication of graphene p-n-p junctions with contactless top gates</a></p>

            <h4>Effect of elemental oxygen content on the low temperature resistance of La2CuO4</h4>
            This project is a preliminary thesis research for the purpose of subsequent research, here is the report and references.
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Effect of elemental oxygen content on the low temperature resistance of La2CuO4.pdf">Analysis results: Effect of elemental oxygen content on the low temperature resistance of La2CuO4</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Electronic anisotropy in single-crystal La2CuO4.pdf">Reference: Electronic anisotropy in single-crystal La2CuO4</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Hall coefficients and optical properties of La2-xSrxCuO4 single-crystal thin films.pdf">Reference: Hall coefficients and optical properties of La2-xSrxCuO4 single-crystal thin films</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Transport in crystalline La2CuO4+δ.pdf">Reference: Transport in crystalline La2CuO4+δ</a></p>

            <h4>Quantum Griffiths Singularity</h4>
            This project is a preliminary thesis research for the purpose of subsequent research, here are the references.
            <img src="/assets/img/qgp.jpg" width="300" alt="qgp">
            <p><a href="/research/QGS/9.pdf">Reference: Absence of Conventional Quantum Phase Transitions in Itinerant Systems with Disorder</a></p>
            <p><a href="/research/QGS/29.pdf">Reference: Theory of Smeared Quantum Phase Transitions</a></p>
            <p><a href="/research/QGS/49.pdf">Reference: Observation of In-Plane Quantum Griffiths Singularity in Two-Dimensional Crystalline Superconductors</a></p>
            <p><a href="/research/QGS/80.pdf">Reference: Quantum Griffiths Phase Inside the Ferromagnetic Phase of Ni1-xVx</a></p>

            <img src="/assets/img/magnon.jpg" width="300" alt="magnon">
            <h4>Van Der Waals Magnon Valves</h4>
            This project is a preliminary thesis research for the purpose of subsequent research, here are the references.
            <p><a href="/research/van der Waals magnon valves/Electrically switchable van der Waals magnon valves.pdf">Reference: Electrically switchable van der Waals magnon valves</a></p>
            <p><a href="/research/van der Waals magnon valves/Geometrical frustration, Wikipedia.pdf">Reference: Geometrical frustration, Wikipedia</a></p>

          </article>

        </div>
