---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <h4>Effect of elemental oxygen content on the low temperature resistance of La2CuO4</h4>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Effect of elemental oxygen content on the low temperature resistance of La2CuO4.pdf">Analysis results: Effect of elemental oxygen content on the low temperature resistance of La2CuO4</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Electronic anisotropy in single-crystal La2CuO4.pdf">Reference: Electronic anisotropy in single-crystal La2CuO4</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Hall coefficients and optical properties of La2-xSrxCuO4 single-crystal thin films.pdf">Reference: Hall coefficients and optical properties of La2-xSrxCuO4 single-crystal thin films</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Transport in crystalline La2CuO4+δ.pdf">Reference: Transport in crystalline La2CuO4+δ</a></p>



          </article>

        </div>
