---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>

            <h4><b>CVS166 (in progress)</b></h4>
            This project is dedicated to investigating previously unreported properties of a novel material, such as the variation of magnetoresistance and magnetic field angle at different temperatures and material thicknesses. I am responsible for performing basic experimental manipulations, analysis and fitting of data, as well as theoretical discussions and numerical simulations in this project. Below are some preliminary results of the data analysis, the use of numerical simulation software and some key references. Experimental results and more information will be updated after the article is published.
            <p><a href="/research/cvs166/Magnetoresistance data analysis results of CVS166.pdf">Report: Magnetoresistance data analysis results of CVS166</a></p>
            <p><a href="/research/cvs166/Contribution of small closed orbits to magnetoresistance in quasi-two-dimensional conductors.pdf">Reference: Contribution of small closed orbits to magnetoresistance in quasi-two-dimensional conductors</a></p>
            <p><a href="/research/cvs166/Extremely high magnetoresistance and conductivity in the type-II Weyl semimetals WP2 and MoP2.pdf">Reference: Extremely high magnetoresistance and conductivity in the type-II Weyl semimetals WP2 and MoP2</a></p>
            <p><a href="/research/cvs166/Magnetoresistance from Fermi surface topology.pdf">Reference: Magnetoresistance from Fermi surface topology</a></p>
            <p><a href="/research/cvs166/Observation of In-Plane Quantum Griffiths Singularity in Two-Dimensional Crystalline Superconductors.pdf">Reference: Observation of In-Plane Quantum Griffiths Singularity in Two-Dimensional Crystalline Superconductors</a></p>
            <p><a href="/research/cvs166/WannierTools Documentation.pdf">Magnetoresistance Simulated Tool: WnnierTools</a></p>

            <h4><b>Graphene Devices and Band Properties</b></h4>
            This project is a regular dissertation study within the group seminar, which focuses on device fabrication and energy band tuning of graphene and other two-dimensional materials, and the idea is to fabricate new devices <b>based on the traditional MOSFET structures and the characteristics of novel materials</b>. Below are the slides and reports for the presentation and key references.
            <img src="/assets/img/graphene.jpg" width="300" alt="graphene">
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/bandgap.pdf">Report: Opening a bandgap in graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Opening a bandgap in graphene.pdf">Talk: Opening a bandgap in graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Airgap local gating of graphene/Airgap local gating of graphene.pdf">Talk: Airgap local gating of graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Controlling the Electronic Structure of Bilayer Graphene.pdf">Reference: Controlling the Electronic Structure of Bilayer Graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Direct observation of a widely tunable bandgap in bilayer graphene.pdf">Reference: Direct observation of a widely tunable bandgap in bilayer graphene</a></p>
            <p><a href="/research/Graphene devices and properties/Opening a bandgap in graphene/Energy Band-Gap Engineering of Graphene Nanoribbons.pdf">Reference: Energy Band-Gap Engineering of Graphene Nanoribbons</a></p>
            <p><a href="/research/Graphene devices and properties/Airgap local gating of graphene/Fabrication of graphene p-n-p junctions with contactless top gates.pdf">Reference: Fabrication of graphene p-n-p junctions with contactless top gates</a></p>

            <img src="/assets/img/micro.jpg" width="300" alt="micro">
            <h4><b>Ultra high-q microcavity and laser</b></h4>
            This project is a preliminary thesis study for the purpose of subsequent research, Here are the references.
            <p><a href="/research/QGS/Microcavity Nonlinear Optics with an Organically Functionalized Surface.pdf">Reference: Microcavity Nonlinear Optics with an Organically Functionalized Surface</a></p>
            <p><a href="/research/QGS/Unveiling the physics of microcavity lasers.pdf">Reference: Unveiling the physics of microcavity lasers</a></p>
            <p><a href="/research/QGS/Photoic crystal nanobeam cavity devices for on-chip integrated silicon photonics.pdf">Reference: Photoic crystal nanobeam cavity devices for on-chip integrated silicon photonics</a></p>

            <img src="/assets/img/magnon.jpg" width="300" alt="magnon">
            <h4><b>Van Der Waals Magnon Valves</b></h4>
            This project is a preliminary thesis study for the purpose of subsequent research, which is committed to <b>making new electromagnetic control devices according to the transportation characteristics of new materials</b>. Here are the references.
            <p><a href="/research/van der Waals magnon valves/Electrically switchable van der Waals magnon valves.pdf">Reference: Electrically switchable van der Waals magnon valves</a></p>
            <p><a href="/research/van der Waals magnon valves/Geometrical frustration, Wikipedia.pdf">Reference: Geometrical frustration, Wikipedia</a></p>

            <h4><b>Effect of elemental oxygen content on the low temperature resistance of La2CuO4</b></h4>
            This project is a preliminary thesis research for the purpose of subsequent research, here is the short report and references.
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Effect of elemental oxygen content on the low temperature resistance of La2CuO4.pdf">Analysis results: Effect of elemental oxygen content on the low temperature resistance of La2CuO4</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Electronic anisotropy in single-crystal La2CuO4.pdf">Reference: Electronic anisotropy in single-crystal La2CuO4</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Hall coefficients and optical properties of La2-xSrxCuO4 single-crystal thin films.pdf">Reference: Hall coefficients and optical properties of La2-xSrxCuO4 single-crystal thin films</a></p>
            <p><a href="/research/Effect of elemental oxygen content on the low temperature resistance of La2CuO4/Transport in crystalline La2CuO4+δ.pdf">Reference: Transport in crystalline La2CuO4+δ</a></p>

          </article>

        </div>
